PORT=3001
DATABASE_URL=postgres://username:password@host:port/database_name?ssl=true
SESSION_SECRET=your_session_secret_key_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
